<header id="head">
  <h1>
    <a href="/toda_labo/"></a>
  </h1>
  <div id="gsearch">
    <script>
      (function() {
        var cx = "011758347372227063109:gjr4ub2g5ke";
        var gcse = document.createElement("script");
        gcse.type = "text/javascript";
        gcse.async = true;
        gcse.src = "https://cse.google.com/cse.js?cx=" + cx;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>
  <div id="eng">
    <ul>
      <li><a href="" title="English" class="main_language">English</a></li>
    </ul>
  </div>
</header>
