<div class="sp_nav_bg"></div>
<p class="menu_for_sp"></p>
<div id="left">
  <div id="main_menu">
    <ul>
      <li id="mainmenu1" class="global_nav index">
        <a href="/toda_labo/en/index.html" title="Home">Home</a>
      </li>
      <li id="mainmenu11" class="global_nav intro">
        <a href="/toda_labo/en/intro.html" title="Overview">Overview</a>
      </li>
      <li id="mainmenu4" class="global_nav study">
        <a href="/toda_labo/en/study.html" title="Topics">Topics</a>
        <ul class="study_children">
          <li id="submenu-ocean" class="child_nav study-ocean study_children_1">
            <a href="/toda_labo/en/studies/study-ocean.html"
              >Aquatic Ecosystems</a
            >
          </li>
          <li id="submenu-waste" class="child_nav study-waste study_children_2">
            <a href="/toda_labo/en/studies/study-waste.html"
              >Environmental Technology</a
            >
          </li>
          <li id="submenu-recycle" class="child_nav study-recycle study_children_3">
            <a href="/toda_labo/en/studies/study-recycle.html"
              >Recycling Society</a
            >
          </li>
        </ul>
      </li>
      <li id="mainmenu6" class="global_nav project">
        <a href="/toda_labo/en/project.html" title="Projects">Projects</a>
        <ul class="project_children">
          <li id="submenuCP" class="child_nav project project_children_1">
            <a href="/toda_labo/en/project.html" title="Current projects"
              >Current projects</a
            >
          </li>
          <li id="submenuPP" class="child_nav pastprojects project_children_2">
            <a href="/toda_labo/en/pastprojects.html" title="Past projects"
              >Past projects</a
            >
          </li>
        </ul>
      </li>
      <li id="mainmenu7" class="global_nav achievement">
        <a href="/toda_labo/en/achievement.html" title="Publications"
          >Publications</a
        >
      </li>
      <li id="mainmenu13" class="global_nav member">
        <a href="/toda_labo/en/active_member.html" title="People">People</a>
        <ul class="member_children">
          <li id="mainmenu2" class="child_nav active_member member_children_1">
            <a href="/toda_labo/en/active_member.html" title="Current Members"
              >Current Members</a
            >
          </li>
          <li id="mainmenu14" class="last child_nav obog member_children_2">
            <a href="/toda_labo/en/obog.html" title="Graduates">Graduates</a>
          </li>
        </ul>
      </li>
      <li id="mainmenu8" class="last global_nav links">
        <a href="/toda_labo/en/links.html" title="Links">Links</a>
      </li>
    </ul>
  </div>
  <div class="logobox">
    <a href="/toda_labo/en/logo.html" title=""
      ><img src="/toda_labo/assets/images/LRE-logo_thumb.png" title="LRE logo"
    /></a>
  </div>
</div>

<!-- <div id="left">
  <div id="main_menu">
    <ul>
      <li id="mainmenu1" class="global_nav index">
        <a href="/toda_labo/en/index.html" title="Home">Home</a>
      </li>
      <li id="mainmenu11" class="global_nav intro">
        <a href="/toda_labo/en/intro.html" title="Overview">Overview</a>
      </li>
      <li id="mainmenu4" class="global_nav study">
        <a href="/toda_labo/en/study.html" title="Topics">Topics</a>
        <ul class="study_children">
          <li id="submenu-ocean" class="study_children_1">
            <a href="/toda_labo/en/studies/study-ocean.html">I. Aquatic Ecosystems</a>
          </li>
          <li id="submenu-waste" class="study_children_2">
            <a href="/toda_labo/en/studies/study-waste.html"
              >II. Environmental Technology</a
            >
          </li>
          <li id="submenu-recycle" class="study_children_3">
            <a href="/toda_labo/en/studies/study-recycle.html">III. Recycling Society</a>
          </li>
        </ul>
      </li>
      <li id="mainmenu6" class="global_nav project">
        <a href="/toda_labo/en/project.html" title="Projects">Projects</a>
        <ul id="submenu" class="project_children">
          <li id="submenuCP" class="project_children_1">
            <a href="/toda_labo/en/project.html" title="Current projects"
              >Current projects</a
            >
          </li>
          <li id="submenuPP" class="project_children_2">
            <a href="/toda_labo/en/pastprojects.html" title="Past projects"
              >Past projects</a
            >
          </li>
        </ul>
      </li>
      <li id="mainmenu7" class="global_nav achievement">
        <a href="/toda_labo/en/achievement.html" title="Publications">Publications</a>
      </li>
      <li id="mainmenu13" class="global_nav member">
        <a href="/toda_labo/en/active_member.html" title="People">People</a>
        <ul class="member_children">
          <li id="mainmenu2" class="member_children_1">
            <a href="/toda_labo/en/active_member.html" title="Current Members"
              >Current Members</a
            >
          </li>
          <li id="mainmenu14" class="last member_children_2">
            <a href="/toda_labo/en/obog.html" title="Graduates">Graduates</a>
          </li>
        </ul>
      </li>
      <li id="mainmenu8" class="last global_nav links">
        <a href="/toda_labo/en/links.html" title="Links">Links</a>
      </li>
    </ul>
  </div>
  <div class="logobox">
    <a href="/toda_labo/en/logo.html" title="Click to see the meanings behind the logo"
      ><img src="../assets/images/LRE-logo_thumb.png" title="LRE logo"
    /></a>
  </div>
</div> -->
