<div class="sp_nav_bg"></div>
<p class="menu_for_sp"></p>
<div id="left">
  <div id="main_menu">
    <ul>
      <li id="mainmenu1" class="global_nav index">
        <a href="{{ page.path }}index.html" title="ホーム">ホーム</a>
      </li>
      <li id="mainmenu11" class="global_nav intro">
        <a href="{{ page.path }}intro.html" title="研究室紹介">研究室紹介</a>
      </li>
      <li id="mainmenu4" class="global_nav study">
        <a href="{{ page.path }}study.html" title="研究内容">研究内容</a>
        <ul class="study_children">
          <li id="submenu-ocean" class="child_nav study-ocean study_children_1">
            <a href="{{ page.path }}studies/study-ocean.html">水圏生態系の研究</a>
          </li>
          <li id="submenu-waste" class="child_nav study-waste study_children_2">
            <a href="{{ page.path }}studies/study-waste.html"
              >人間活動による環境負荷軽減に向けての研究</a
            >
          </li>
          <li id="submenu-recycle" class="child_nav study-recycle study_children_3">
            <a href="{{ page.path }}studies/study-recycle.html"
              >循環型社会形成に関する基盤研究</a
            >
          </li>
        </ul>
      </li>
      <li id="mainmenu6" class="global_nav project">
        <a href="{{ page.path }}project.html" title="研究プロジェクト">研究プロジェクト</a>
        <ul class="project_children">
          <li id="submenuCP" class="child_nav project project_children_1">
            <a href="{{ page.path }}project.html" title="現在のプロジェクト"
              >現在のプロジェクト</a
            >
          </li>
          <li id="submenuPP" class="child_nav pastprojects project_children_2">
            <a href="{{ page.path }}pastprojects.html" title="過去のプロジェクト"
              >過去のプロジェクト</a
            >
          </li>
        </ul>
      </li>
      <li id="mainmenu7" class="global_nav achievement">
        <a href="{{ page.path }}achievement.html" title="研究業績">研究業績</a>
      </li>
      <li id="mainmenu13" class="global_nav member">
        <a href="{{ page.path }}active_member.html" title="研究室メンバー">研究室メンバー</a>
        <ul class="member_children">
          <li id="mainmenu2" class="child_nav active_member member_children_1">
            <a href="{{ page.path }}active_member.html" title="現在のメンバー紹介"
              >現在のメンバー紹介</a
            >
          </li>
          <li id="mainmenu14" class="last child_nav obog member_children_2">
            <a href="{{ page.path }}obog.html" title="研究室のOB・OG">研究室のOB・OG</a>
          </li>
        </ul>
      </li>
      <li id="mainmenu8" class="last global_nav links">
        <a href="{{ page.path }}links.html" title="リンク">リンク</a>
      </li>
    </ul>
  </div>
  <div class="logobox">
    <a href="{{ page.path }}logo.html" title="クリックでロゴについての詳細"
      ><img src="{{ page.path }}assets/images/LRE-logo_thumb.png" title="修復研ロゴ"
    /></a>
  </div>
</div>
