@charset "UTF-8";
/* ----------------------- Toda Lab.CSS ----------------------- */
/*============================================================================== */
/*                              デ　フォ　ル　ト */
/*============================================================================== */
* {
  margin: 0;
  padding: 0;
  border: 0px;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "メイリオ", sans-serif;
  background: linear-gradient(#81c7b8, #344a5b);
}

img {
  border: 0px;
}

.clear {
  clear: both;
}

hr.clear {
  clear: both;
  height: 0px;
}

a {
  overflow: hidden;
  text-decoration: none;
}

a:link {
  color: #2a6bb4;
}

a:visited {
  color: #3d57f4;
}

a:hover, a:active {
  color: #2d98dc;
  text-decoration: underline;
}

ul li {
  list-style-type: none;
}

/*============================================================================== */
/*                                文　字　設　定 */
/*============================================================================== */
#body h3 {
  color: #344a5b;
  font-family: "Noto Serif JP", serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
}

#body h3:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, #344a5b, #81c7b8);
}

#body #contents h4 {
  color: #555555;
  font: normal normal bold 16px/20px;
  text-decoration: none;
}

#body #contents h5 {
  color: #555555;
  font: normal normal bold 14px/1.2em;
  text-decoration: none;
}

#body #contents h6 {
  color: #333333;
  font: normal normal normal 12px/1.2em;
  text-decoration: none;
}

#body #contents p, #body #contents li {
  color: #333333;
  font: normal normal normal 12px/1.5em;
  text-decoration: none;
  font-size: 1.6vw;
}

#body #contents table {
  color: #333333;
  font: normal normal normal 12px/1.5em;
  text-decoration: none;
}

#body #contents th {
  color: #333333;
  font: normal normal bold 12px/1.5em;
  text-decoration: none;
}

#body #contents td {
  color: #333333;
  font: normal normal normal 12px/1.5em;
  text-decoration: none;
}

#body #contents dt, #body #contents dd, #body #contents q, #body #contents blockquote {
  color: #333333;
  font: normal normal normal 12px/2em;
  text-decoration: none;
}

#body #contents .caption span {
  color: #2b801b;
  font: normal normal bold 12px/1.3em;
  text-decoration: none;
}

#body #contents .lastUD {
  color: #333333;
  text-decoration: none;
  text-align: right;
}

.en #body #contents p, .en #body #contents li, .en #body #contents table {
  font-size: 14px;
}

#footer span {
  color: #344a5b;
  text-decoration: none;
}

body#index #contents #topics th {
  color: #666666;
  text-decoration: none;
}

body#index #contents #topics td {
  color: #666666;
  text-decoration: none;
  font-size: 1.6vw;
}

/*============================================================================== */
/*                               コ  ン  テ  ナ */
/*============================================================================== */
#container {
  width: calc(100vw - 115px);
  min-width: 740px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#wrapper_bottom {
  padding: 8px 0 0 0;
}

#head, #cover, #footer {
  width: 100%;
  margin: 0 auto;
}

/*============================================================================== */
/*                                    #head */
/*============================================================================== */
#head {
  top: 0;
  background: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 7px 30px 0;
  box-sizing: border-box;
  margin-bottom: -1px;
}

h1 a {
  display: block;
  width: 358px;
  height: 61px;
  background: url(../images/logo.svg) no-repeat 0 0;
}

#head .header_right_section {
  display: flex;
  align-items: center;
}

#head #eng {
  margin-left: 10px;
}

#head #eng > ul > li > a,
#head #ja > ul > li > a {
  color: #344a5b;
  position: relative;
  display: inline;
  z-index: 1;
}

#head #eng > ul > li > a:after,
#head #ja > ul > li > a:after {
  content: '';
  background: transparent;
  transition: .3s;
}

#head #eng > ul > li > a:hover,
#head #ja > ul > li > a:hover {
  text-decoration: none;
}

#head #eng > ul > li > a:hover:after,
#head #ja > ul > li > a:hover:after {
  content: '';
  width: calc(100% + 19px);
  height: 12px;
  z-index: -1;
  position: absolute;
  left: -9px;
  bottom: -5px;
  background: rgba(129, 199, 184, 0.4);
}

#head #gsearch {
  width: 300px;
}

#head #gsearch form.gsc-search-box {
  margin: 0;
}

#head #gsearch table.gsc-search-box {
  margin: 0;
}

.gsc-control-cse {
  background-color: transparent !important;
  border-color: transparent !important;
}

/*============================================================================== */
/*                                    #cover */
/*============================================================================== */
#cover {
  margin-bottom: 45px;
}

#cover h2 {
  width: 100%;
  text-indent: -1000em;
  background: url(../images/cover_second.jpg) no-repeat center;
  background-size: cover;
  height: 119px;
}

/*============================================================================== */
/*                                    #body */
/*============================================================================== */
#body {
  width: 100%;
  display: flex;
  padding: 0 19px 0 19px;
  margin: 0 auto;
  margin-bottom: 25px;
}

/*============================================================================== */
/*                                    #left */
/*==============================================================================*/
.menu_for_sp {
  display: none;
}

#left {
  margin-right: 10px;
  padding-bottom: 55px;
}

#left #main_menu {
  width: 178px;
  margin: 2px 0 30px 20px;
}

#left #main_menu li.global_nav {
  width: 178px;
}

#left #main_menu li.global_nav.active > a {
  color: #344a5b;
  font-weight: bold;
  position: relative;
  display: inline;
  z-index: 1;
}

#left #main_menu li.global_nav.active > a::after {
  content: '';
  width: calc(100% + 19px);
  height: 12px;
  z-index: -1;
  position: absolute;
  left: -9px;
  bottom: -5px;
  background: rgba(129, 199, 184, 0.4);
}

#left #main_menu li.global_nav.active > a a {
  color: #344a5b;
}

#left #main_menu li.global_nav > .study_children,
#left #main_menu li.global_nav > .member_children,
#left #main_menu li.global_nav > .project_children {
  display: none;
}

#left #main_menu li.global_nav > .study_children > .child_nav,
#left #main_menu li.global_nav > .member_children > .child_nav,
#left #main_menu li.global_nav > .project_children > .child_nav {
  list-style-type: upper-roman;
  margin-left: 22px;
  position: relative;
}

#left #main_menu li.global_nav > .study_children > .child_nav > a,
#left #main_menu li.global_nav > .member_children > .child_nav > a,
#left #main_menu li.global_nav > .project_children > .child_nav > a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 100;
}

#left #main_menu li.global_nav > .study_children > .child_nav.active > a,
#left #main_menu li.global_nav > .member_children > .child_nav.active > a,
#left #main_menu li.global_nav > .project_children > .child_nav.active > a {
  font-weight: bold;
}

#left #main_menu li.global_nav > .study_children.active > .child_nav > a,
#left #main_menu li.global_nav > .member_children.active > .child_nav > a,
#left #main_menu li.global_nav > .project_children.active > .child_nav > a {
  color: #344a5b;
}

#left #main_menu li.global_nav.member.active .member_children {
  display: block;
}

#left #main_menu li.global_nav.study.active .study_children {
  display: block;
}

#left #main_menu li.global_nav.project.active .project_children {
  display: block;
}

#left #main_menu li.global_nav a {
  display: block;
  width: 178px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  line-height: 34px;
}

#left #main_menu li.global_nav a:before {
  font-family: 'FontAwesome';
  font-weight: 400;
  display: inline-block;
  margin-right: 9px;
}

#left #main_menu li.global_nav.index > a:before {
  content: '\f015';
}

#left #main_menu li.global_nav.intro > a:before {
  content: '\f1ad';
}

#left #main_menu li.global_nav.study > a:before {
  content: '\f0c3';
}

#left #main_menu li.global_nav.project > a:before {
  content: '\f002';
}

#left #main_menu li.global_nav.achievement > a:before {
  content: '\f249';
}

#left #main_menu li.global_nav.member > a:before {
  content: '\f007';
}

#left #main_menu li.global_nav.links > a:before {
  content: '\f0c1';
}

#left .logobox img {
  height: 100px;
  width: 100px;
  margin-left: 26px;
  width: 100px;
  padding: 0 10px 0 10px;
}

#left .logobox .logocaption {
  text-align: center;
  font: normal normal bold 12px/1.3em;
  text-decoration: none;
}

#left div.fblb-container {
  /* background: url("../images/FacebookHeader2.png") no-repeat center top; */
  margin: 10px 0 0 -19px;
}

#left .fb-border-bottom {
  border-top: 1px solid #d8dfea;
  margin-left: -13px;
  width: 197px;
}

/* #left div.fblb-container::before { content: url("../images/facebook.png"); width:207px; height:70px; } */
#right {
  width: calc(100% - 266px);
  margin-left: 10px;
}

#right h3 {
  width: 100%;
  height: 28px;
  margin: 2px 0 30px 0;
}

/*============================================================================== */
/*                                #contents */
/*============================================================================== */
#contents {
  margin: 0 10px 5px 10px;
}

#contents h4 {
  width: 100%;
  margin-bottom: 18px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

#contents h4:before {
  content: "";
  width: 6px;
  height: 25px;
  margin-right: 7px;
  background: #81c7b8;
  display: inline-block;
}

#contents h4.height3 {
  width: 464px;
  text-indent: 0em;
  padding-left: 25px;
  background: url(../images/h4_height3.gif) no-repeat 0 0;
}

#contents h5 {
  margin: 20px 0 10px 0;
}

#contents h6 {
  margin: 0 0 8px 19px;
}

#contents #spacer {
  margin: 0 0 30px;
}

#contents .imgLeft {
  float: left;
  margin: 0 10px 10px 0;
}

#contents .imgRight {
  float: right;
  margin: 0 0 10px 10px;
}

#contents .imgCenter {
  margin-bottom: 30px;
}

#contents .imgCenter img {
  display: block;
  margin: 0 auto;
}

#contents .multiple_figure_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#contents figcaption {
  color: #2b801b;
  font: normal normal bold 12px/1.3em;
  text-decoration: none;
  margin-top: -10px;
}

#contents .imageholder {
  margin: 0 auto;
  width: 454px;
  padding: 10px 0 10px 0;
}

#contents .imagebox {
  text-align: -webkit-center;
}

#contents .imagebox img {
  display: block;
  margin: 2px;
}

#contents .imagebox .caption {
  margin-left: 0 !important;
  margin-bottom: 0;
  max-width: 454px;
}

#contents .vertical {
  margin: 0 20px 0 20px;
}

#contents .floatleft {
  float: left;
}

#contents .floatright {
  float: right;
}

#contents .caption {
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
}

/*==========================基本設定============================= */
/*==========================画像配置============================ */
.w100 {
  width: 100px;
}

.w130 {
  width: 130px;
}

.w160 {
  width: 160px;
}

.w200 {
  width: 200px;
}

.w221 {
  width: 221px;
}

.w300 {
  width: 300px;
}

.w454 {
  width: 454px;
}

/*=========================テーブル設定========================== */
#contents table {
  border-collapse: collapse;
  width: 100%;
  word-break: break-word;
}

#contents table th {
  background-color: #b4e7a9;
  border: solid 1px #444;
  vertical-align: top;
}

#contents table td {
  border: solid 1px #444;
  vertical-align: top;
}

#contents table.noborder th, #contents table.noborder td {
  border: 0;
  padding: 5px;
  vertical-align: top;
  background-color: transparent;
}

/*=========================リスト設定========================== */
#body #contents ol, #body #contents ul {
  margin: 10px 0 30px 0px;
}

#contents ul li {
  list-style-type: disc;
  text-indent: 0.2em;
  margin: 5px 0 0 15px;
}

#contents ul li p:nth-of-type(1) {
  color: #555555;
  font: bold 14px/1.2em  !important;
  text-decoration: none;
}

#contents ul ul {
  margin: 0 0 0 2em;
}

#contents ul ul li {
  list-style-type: circle;
  text-indent: -1em;
  margin: 10px 0 10px 0;
}

#body #contents ol li {
  margin: 5px 0 0 15px;
}

#body #contents ul ol li {
  list-style-type: decimal;
}

/*=========================ページトップへ========================== */
#contents .goTop {
  width: 106px;
  height: 12px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: 380px;
}

#contents .goTop a {
  display: block;
  width: 106px;
  height: 12px;
  padding-top: 12px;
  background: url(../images/goTop.gif) no-repeat 0 0;
}

#contents .goTop a:hover {
  background: url(../images/goTop.gif) no-repeat 0 -12px;
}

.en #contents .goTop a {
  background: url(../images/goTop-en.jpg) no-repeat 0 0;
}

.en #contents .goTop a:hover {
  background: url(../images/goTop-en.jpg) no-repeat 0 -12px;
}

/*============================================================================== */
/*                                  #pre-footer */
/*============================================================================== */
#pre-footer {
  width: 798px;
  margin: 0 auto;
  padding-left: 18px;
}

/*============================================================================== */
/*                                  #footer */
/*============================================================================== */
#footer {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

#footer #info a {
  color: #344a5b;
}

#footer #copyright {
  margin-right: 19px;
}

/*============================================================================== */
/*                                   #index */
/*============================================================================== */
body#index #cover {
  margin-bottom: 36px;
  position: relative;
}

body#index #cover .main_text_wrapper {
  font-family: serif;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  text-align: right;
  margin-bottom: 8px;
}

body#index #cover .main_text_wrapper > .main_text {
  font-size: 40px;
  display: block;
  border-bottom: 1px solid #fff;
  line-height: 43px;
  padding-bottom: 8px;
  padding-right: 20px;
}

body#index #cover .main_text_wrapper > .sub_text {
  font-size: 16px;
  padding-right: 24px;
}

body#index #cover h2 {
  width: 100%;
  height: 35vw;
}

body#index #cover .swiper-slide img {
  width: 100%;
  min-width: 740px;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

body#index.en #cover .swiper-slide1 h2 {
  background: url(../images/cover_top.jpg) no-repeat 0 0;
  background-size: cover;
  text-indent: -1000em;
}

body#index.en #cover .swiper-slide2 h2 {
  background: url(../images/cover_top_ocean-en.jpg) no-repeat 0 0;
  background-size: cover;
  text-indent: -1000em;
}

body#index.en #cover .swiper-slide3 h2 {
  background: url(../images/cover_top_pbr-en.jpg) no-repeat 0 0;
  background-size: cover;
  text-indent: -1000em;
}

body#index.en #cover .swiper-slide4 h2 {
  background: url(../images/cover_top_goto-en.jpg) no-repeat 0 0;
  background-size: cover;
  text-indent: -1000em;
}

body#index.en #cover .swiper-slide5 h2 {
  background: url(../images/cover_top_biwa-en.jpg) no-repeat 0 0;
  background-size: cover;
  text-indent: -1000em;
}

body#index #right h3 {
  height: 22px;
  width: 100%;
  margin-bottom: 20px;
  color: #344a5b;
}

body#index #contents table#topics {
  margin: 0;
  width: 100%;
}

body#index #contents table#topics th, body#index #contents table#topics td {
  border: 0;
  padding: 7px 7px 7px 0px;
  vertical-align: top;
  background-color: transparent;
  line-height: 1.3em;
  font-size: 14px;
}

body#index #contents table#topics th {
  width: 66px;
  text-align: left;
}

body#index #contents .read_more {
  display: block;
  text-align: right;
  font-size: 12px;
}

body#index #contents .fb-container {
  height: 710px;
  width: 100%;
}

body#news #contents table#topics th, body#news #contents table#topics td {
  border: 0;
  vertical-align: top;
  background-color: transparent;
  padding-bottom: 10px;
}

body#news #contents table#topics th {
  width: 44px;
  text-align: left;
  padding-right: 20px;
}

body.en h1 a {
  display: block;
  width: 555px;
  height: 61px;
  background: url(../images/logo_en.svg) no-repeat 0 0;
}

body#index-eng #wrapper_bottom {
  padding-bottom: 48px;
  background: url(../images/bg_wrapper_contruct.gif) no-repeat 0 0;
  background-position: bottom;
}

body#index-eng #cover {
  height: 278px;
  margin-bottom: 0;
}

body#index-eng #cover h2 {
  height: 278px;
  background: url(../images/cover_contruct.jpg) no-repeat 0 0;
}

body#biogeocenosis #contents .imgCenter {
  margin-bottom: 30px;
}

body#biogeocenosis #contents h4 {
  margin-top: 40px;
}

body#study h3#study-ocean {
  background: url(../images/h3_studies.png) no-repeat 0 0;
  margin-bottom: 20px;
}

body#study h3#study-waste {
  background: url(../images/h3_studies.png) no-repeat 0 -28px;
  margin-bottom: 20px;
}

body#study h3#study-recycle {
  background: url(../images/h3_studies.png) no-repeat 0 -56px;
  margin-bottom: 20px;
}

/*============================================================================== */
/*                                 #News */
/*============================================================================== */
/*NEW XXXXXXX */
body#news #contents table#topics th,
body#news #contents table#topics td {
  border: 0;
  vertical-align: top;
  background-color: transparent;
  padding-bottom: 10px;
}

body#news #contents table#topics th {
  width: 66px;
  text-align: left;
  padding-right: 20px;
}

/*============================================================================== */
/*                                 #English */
/*============================================================================== */
/*============================================================================== */
/*                                 #biogeocenosis */
/*============================================================================== */
/*============================================================================== */
/*                                 #study */
/*============================================================================== */
#study #contents h4 {
  color: #555555;
}

body#study #contents #theme p {
  margin-bottom: 0;
}

body#study #contents #theme li {
  list-style-type: none;
}

body#study #contents #theme ol li {
  list-style-type: decimal;
  margin-left: 30px;
}

/*============================================================================== */
/*                                 #project */
/*============================================================================== */
#project p {
  margin-bottom: 1em;
}

/*============================================================================== */
/*                                 #intro */
/*============================================================================== */
#intro p {
  margin-bottom: 1em;
}

#intro .profname {
  color: #000000;
  font: bold normal normal 1em;
  text-decoration: none;
  margin-left: 35px;
}

/*============================================================================== */
/*                                 #recyclable-society */
/*============================================================================== */
body#recyclable-society #contents .imgCenter {
  margin-bottom: 30px;
}

body#recyclable-society #contents h4 {
  margin-top: 40px;
}

body#achievement #contents ul.paper_meta_wrapper {
  display: flex;
  flex-wrap: wrap;
}

body#achievement #contents ul.paper_meta_wrapper > li {
  list-style: none;
  margin-left: 0px;
}

body#achievement #contents ul.paper_meta_wrapper > li:nth-of-type(1) {
  margin-left: 0;
}

body#achievement #contents ul.paper_meta_wrapper > li::after {
  content: '/';
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

body#achievement #contents li {
  font-family: "Times New Roman";
  word-break: break-all;
}

body#achievement #contents li span.prof {
  font-weight: bold;
}

body#achievement #contents li span.italic {
  font-style: italic;
}

body#achievement #contents li .article {
  padding-left: 10px;
}

body#achievement #contents .YearDiv {
  margin-top: 1em;
  margin-left: -20px;
  font-size: 20px;
}

/*============================================================================== */
/*                                 #achievement */
/*============================================================================== */
/*============================================================================== */
/*                                 #member, obog */
/*============================================================================== */
#contents #map {
  padding-bottom: 48%;
  margin-bottom: 50px;
  object-fit: cover;
}

#contents #map .infobox a.name {
  font-weight: bold;
}

#contents #map .infobox p.content {
  font-size: 12px !important;
}

#contents .member_wrapper > ul {
  margin-bottom: 50px !important;
}

#contents .member_wrapper > ul > li.single_profile {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding-bottom: 14px;
  margin-bottom: 13px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

#contents .member_wrapper > ul > li.single_profile:last-of-type {
  border: none;
}

#contents .member_wrapper > ul > li.single_profile > img {
  margin-right: 15px;
  border-radius: 1px;
  width: 120px;
}

#contents .member_wrapper > ul > li.single_profile > div > p.position {
  font-size: 10px !important;
}

#contents .member_wrapper > ul > li.single_profile > div > p.name {
  font-weight: bold;
}

#contents .member_wrapper > ul > li.single_profile > div > p.job {
  font-size: 10px !important;
  display: flex;
}

#contents .member_wrapper > ul > li.single_profile > div > p.job > span {
  white-space: nowrap;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

#contents .member_wrapper > ul > li.single_profile > div > p.biography {
  font-size: 12px !important;
  display: flex;
}

#contents .member_wrapper > ul > li.single_profile > div > p.biography > span {
  white-space: nowrap;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

#contents .member_wrapper > ul > li.single_profile > div > p.comment {
  font-size: 12px !important;
  background-color: rgba(129, 199, 184, 0.35);
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  word-break: break-all;
}

#contents .member_wrapper > ul > li.single_profile > div > p.comment::before {
  content: "";
  position: absolute;
  top: 18px;
  left: -16px;
  margin-top: -8px;
  border: 8px solid transparent;
  border-right: 8px solid rgba(129, 199, 184, 0.35);
}

#obog #contents td p {
  margin: 0;
}

#obog #contents table {
  width: 469px;
}

#active_member #contents table {
  width: 469px;
}

/*============================================================================== */
/*                                 LightboxCSS */
/*============================================================================== */
/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  display: inline-block;
  *zoom: 1;
  *zoom-width: 250px;
  *zoom-height: 250px;
  *zoom-margin: 0 auto;
  *zoom--webkit-border-radius: 4px;
  *zoom--moz-border-radius: 4px;
  *zoom--ms-border-radius: 4px;
  *zoom--o-border-radius: 4px;
  *zoom-border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  *zoom-width: 100%;
  *zoom--moz-border-radius-bottomleft: 4px;
  *zoom--webkit-border-bottom-left-radius: 4px;
  *zoom-border-bottom-left-radius: 4px;
  *zoom--moz-border-radius-bottomright: 4px;
  *zoom--webkit-border-bottom-right-radius: 4px;
  *zoom-border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*============================================================================== */
/*                                 Unslider css */
/*============================================================================== */
.swiper-container {
  height: 35vw;
  width: calc(100vw - 115px);
  min-width: 740px;
  min-height: 300px;
}

.swiper-wrapper {
  position: relative;
  text-align: center;
}

.swiper-wrapper li {
  list-style: none;
}

.swiper-wrapper ul li {
  float: left;
}

/* .swiper-wrapper .dots {
 *  position: absolute;
 *  left: 0;
 *  right: 0;
 *  bottom: 5px;
 *}
 *
 *.swiper-wrapper .dots li {
 *  display: inline-block;
 *  width: 10px;
 *  height: 10px;
 *  margin: 0 2px;
 *
 *  text-indent: -999em;
 *
 *  border: 2px solid #fff;
 *  border-radius: 0px;
 *
 *  cursor: pointer;
 *  opacity: 0.4;
 *
 *  /*			-webkit-transition: background .5s, opacity .5s;
 *			-moz-transition: background .5s, opacity .5s;
 *			transition: background .5s, opacity .5s;
 *}
 *
 *.swiper-wrapper .dots li.active {
 *  background: #fff;
 *  opacity: 1;
 *} */
/* responsive */
@media screen and (min-width: 1000px) {
  .swiper-container {
    height: auto;
  }
  body#index #cover .main_text_wrapper .main_text {
    padding-right: 100px;
  }
  body#index #cover .main_text_wrapper .sub_text {
    padding-right: 100px;
  }
}

@media screen and (min-width: 1030px) {
  #body #contents p, #body #contents li {
    font-size: 16px;
  }
  body#index #contents #topics td {
    font-size: 14px;
  }
}

@media screen and (max-width: 875px) {
  #body #contents p, #body #contents li {
    font-size: 14px;
  }
  body#index #contents #topics td {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  #body {
    padding: 0;
    width: calc(100vw - 30px);
  }
  body#achievement #contents .YearDiv {
    margin-left: 0;
  }
  #container {
    width: 100vw;
    min-width: auto;
    padding-top: 41px;
  }
  #container > #head {
    top: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px 30px 0;
    box-sizing: border-box;
    margin-bottom: -1px;
  }
  #container > #head > h1 {
    width: auto;
    height: auto;
  }
  #container > #head > h1 > a {
    width: 50vw;
    background-size: 100%;
  }
  #container > #head > .header_right_section {
    display: flex;
    align-items: center;
  }
  #container > #head > #gsearch {
    display: none;
  }
  #container > #head > #eng {
    margin-left: 10px;
  }
  #container > #head > #eng > ul > li > a,
  #container > #head > #ja > ul > li > a {
    color: #344a5b;
    position: relative;
    display: inline;
    z-index: 1;
  }
  #container > #head > #eng > ul > li > a:hover:after,
  #container > #head > #ja > ul > li > a:hover:after {
    content: '';
    width: calc(100% + 19px);
    height: 12px;
    z-index: -1;
    position: absolute;
    left: -9px;
    bottom: -5px;
    background: rgba(129, 199, 184, 0.4);
  }
  #container #wrapper_top #wrapper_bottom #cover .main_text_wrapper > .main_text {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 4px;
  }
  #container #wrapper_top #wrapper_bottom #cover .main_text_wrapper > .sub_text {
    font-size: 12px;
  }
  #container #wrapper_top #wrapper_bottom #cover .swiper-container {
    width: 100vw;
    min-width: auto;
    height: auto;
    min-height: auto;
  }
  #container #wrapper_top #wrapper_bottom #cover .swiper-container .swiper-wrapper .swiper-slide img {
    min-width: auto;
  }
  #container #wrapper_top #wrapper_bottom #cover .swiper-container .swiper-pagination {
    display: none;
  }
  .sp_nav_bg {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
  }
  .sp_nav_bg.on {
    display: block;
  }
  .menu_for_sp {
    font-family: sans-serif;
    display: block;
    position: fixed;
    top: 16.5px;
    right: 13px;
    color: #00479d;
    font-size: 18px;
    z-index: 101;
  }
  .menu_for_sp::before {
    font-family: 'FontAwesome';
    font-weight: 400;
    display: inline-block;
    margin-right: 4px;
    content: '\f03a';
  }
  #left {
    display: none;
    position: fixed;
    top: 36px;
    z-index: 110;
    right: 0;
    background: #fff;
    padding-top: 8px;
    padding-bottom: 30px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  }
  #left.on {
    display: block;
  }
  #left > #main_menu {
    margin: 2px 0 14px 20px;
  }
  #left > #main_menu li.global_nav.active a {
    width: 100%;
  }
  #left > .logobox img {
    padding: 0;
    height: auto;
    margin-left: 18px;
    width: 56px;
  }
  #right {
    width: calc(100vw - 30px);
    margin-left: 0;
  }
  #right > #contents {
    margin: 0;
  }
  #right > #contents .multiple_figure_wrapper {
    justify-content: flex-start;
  }
  #right > #contents img {
    width: calc(100vw - 30px) !important;
  }
  #right > #contents > .fb-container > .fb-iframe-container {
    width: 100%;
  }
  #right > #contents .member_wrapper > ul > li.single_profile > img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 100px;
  }
  #pre-footer {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
