<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" data-page-type="{{ page.title }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {{ page.title }} | 修復生態学研究室 戸田研究室 －創価大学工学部－
    </title>
    <meta name="author" content="修復生態学 戸田研究室 －創価大学工学部－" />
    <meta property="fb:admins" content="132300247" />
    <meta property="og:title" content="修復生態学研究室-創価大学工学部" />
    <meta property="og:url" content="http://www.t.soka.ac.jp/~toda/" />
    <meta property="og:type" content="university" />
    <meta
      property="og:image"
      content="http://www.t.soka.ac.jp/~toda/assets/images/LRE-logo.png"
    />
    <link
      rel="shortcut icon"
      href="http://www.t.soka.ac.jp/~toda/assets/images/LRElogo144px.png"
    />
    <link
      rel="apple-touch-icon"
      href="http://www.t.soka.ac.jp/~toda/assets/images/LRElogo144px.png"
    />
    <meta
      name="keywords"
      content="創価大学,工学部,環境共生工学科,戸田龍樹,修復生態学,修復研,戸田研究室,戸田研,地球環境,海洋,動物プランクトン,Acartia,メタン発酵,微細藻類"
    />
    <meta name="description" content="" />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/templates/css/swiper.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/templates/css/font-awesome.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/templates/css/base.css"
    />
    <link rev="made" href="" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>

  <body id="{{ page.title }}">
    <div id="container">
      {% include header.html %}
      {{ content }}
      <script src="assets/templates/js/main.js"></script>
    </div>
  </body>
</html>
