<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>修復生態学研究室 戸田研究室 －創価大学工学部－ | 研究内容</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="修復生態学 戸田研究室 －創価大学工学部－" />
    <meta name="keywords" content="修復生態学,戸田研究室,地球環境," />
    <meta name="description" content="" />
    <title>修復生態学研究室 戸田研究室 －創価大学工学部－</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="./assets/css/base.css"
    />
    <link rev="made" href="" />
    <!-- ここから新しいスクリプト -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="./assets/js/lightbox.min.js"></script>
    <script>
      (function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "https://www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-58221482-1", "auto");
      ga("send", "pageview");
    </script>
    <!-- ここまで新しいスクリプト -->
  </head>

  <body id="study">
    <div id="container">
      <div id="wrapper_top">
        <div id="wrapper_bottom">
          <a name="top"></a>
          <div id="head">
            <h1>
              <a href="./index.html"
                >修復生態学研究室 戸田研究室 －創価大学工学部－
              </a>
            </h1>
            <div id="eng">
              <ul>
                <li><a href="./index-eng.html" title="English">English</a></li>
              </ul>
            </div>
          </div>
          <div id="cover">
            <h2 class="child_page_header">
              Toda Lab Project Soka University Faculty of Engineering
            </h2>
          </div>

          <div id="body">
            <div id="left">
              <div id="main_menu">
                <ul>
                  <li id="mainmenu1">
                    <a href="./index.html" title="ホーム">ホーム</a>
                  </li>
                  <li id="mainmenu11">
                    <a href="./intro.html" title="研究室紹介">研究室紹介</a>
                  </li>
                  <li id="mainmenu4" class="active">
                    <a href="./study.html" title="研究内容">研究内容</a>
                    <ul id="submenu">
                      <li id="submenu-ocean">
                        <a href="./studies/study-ocean.html"
                          >I. 水圏生態系の研究</a
                        >
                      </li>
                      <li id="submenu-waste">
                        <a href="./studies/study-waste.html"
                          >II. 人間活動による環境負荷軽減に向けての研究</a
                        >
                      </li>
                      <li id="submenu-recycle">
                        <a href="./studies/study-recycle.html"
                          >III. 循環型社会形成に関する基盤研究</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li id="mainmenu6">
                    <a href="./project.html" title="研究プロジェクト"
                      >研究プロジェクト</a
                    >
                  </li>
                  <li id="mainmenu7">
                    <a href="./achievement.html" title="研究業績">研究業績</a>
                  </li>
                  <li id="mainmenu13">
                    <a href="./active_member.html" title="研究室メンバー"
                      >研究室メンバー</a
                    >
                  </li>
                  <li id="mainmenu8" class="last">
                    <a href="./links.html" title="リンク">リンク</a>
                  </li>
                </ul>
              </div>
            </div>

            <div id="right">
              <div id="contents">
                {{ content }}
              </div>
            </div>
            <div class="clear"></div>
          </div>
          <div id="footer">
            <div id="info">
              <span
                >〒192-8577　東京都八王子市丹木町1-236
                <a
                  href="mailto:&/#116;&#111;&#100;&#97;&#64;&#115;&#111;&#107;&#97;&#46;&#97;&#99;&#46;&#106;&#112;&#32;"
                  >&#116;&#111;&#100;&#97;&#64;&#115;&#111;&#107;&#97;&#46;&#97;&#99;&#46;&#106;&#112;&#32;</a
                ></span
              >
            </div>
            <div id="copyright">
              <span
                >Copyright Toda Laboratory. Soka University. All Right
                Reserved.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./assets/js/main.js" defer></script>
  </body>
</html>
